/*-- COLORES --*/
$color-esfera : rgba(255,255,10,1);
$color-esfera2:rgba(255,10,10,0.6);
$color-estrella : #ff0000;


/*-- TAMANIOS --*/
$base-tamanio-esfera: 100px;

/*BRILLO*/
$color-brillo: rgba(255,255,255,0.55);

/*centrar*/

$centrar: center;