@import "_variable";
@import "_mixin";



body{
	padding: 2em 5em;
	background-image: url(../img/img.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
	background-repeat:no-repeat;
}

.container{
	position:fixed;
    bottom: 27px;
    text-align: $centrar;

	.esfera{
        background: radial-gradient($color-esfera2 8%, $color-esfera);
		border-radius: $base-tamanio-esfera;
		height: $base-tamanio-esfera;
		width: $base-tamanio-esfera;
		padding: $base-tamanio-esfera/6;
        box-shadow: inset 4px 3px 10px 0px $color-brillo;
        transition: 1.5s;
        cursor: none;
        position: relative;
        float: left;
        text-align: $centrar;
        border: 0px solid yellow;
        margin: 1.5em;


        &:hover{
        	background: radial-gradient($color-esfera2 15%, $color-esfera);            
            transform: rotate(360deg) scale(1.8,1.8) ;
            box-shadow: 0px 0px 60px $color-esfera ;
        }
	}

	.star{
		color: $color-estrella;
		font-size: 1.5em;
        text-align: center;
        line-height: 0.8em;
        letter-spacing: 1px;
	}


}

